<header class="top-nav">

<div class="nav-left">
<span class="contact">+ Contact Us</span>
</div>

<div class="nav-center">
<div class="logo" id="navLogo">LUCCI</div>
</div>

<div class="nav-right">

<div class="nav-icon" onclick="openBag()">
<i class="fa-solid fa-bag-shopping"></i>
</div>

<div class="nav-icon profile-menu" id="profileMenu">
<i class="fa-regular fa-user"></i>

<div class="profile-dropdown">

<div class="profile-header">

<p class="welcome" id="welcomeText">Welcome</p>

<p class="sub-text" id="loginText">
To access account and <br> manage orders
</p>

<a href="profile.html" class="login-btn" id="loginBtn">
LOGIN / SIGNUP
</a>

</div>

<a href="orders.html">Orders</a>
<a href="wishlist.html">Wishlist</a>
<a href="cart.html">Cart</a>
<a href="products.html">Products</a>
<a href="contactus.html">Contact Us</a>

<a href="#" id="logoutBtn" style="display:none;color:red;">Logout</a>

</div>
</div>

<div class="nav-icon" onclick="openSearch()">
<i class="fa-solid fa-magnifying-glass"></i>
</div>

<div class="nav-icon" onclick="openMenu()">
<i class="fa-solid fa-bars"></i>
</div>

</div>

</header>
