<header class="top-nav">

<div class="nav-left">
<span class="contact">+ Contact Us</span>
</div>

<div class="nav-center">
<div class="logo" id="navLogo">LUCCI</div>
</div>

<div class="nav-right">

<div class="nav-icon bag-icon" onclick="openBag()">
<i class="fa-solid fa-bag-shopping"></i>
<span id="cartCount" class="cart-count">0</span>
</div>

<div class="nav-icon profile-menu" id="profileMenu">
<i class="fa-regular fa-user"></i>

<div class="profile-dropdown">

<div class="profile-header">

<p class="welcome" id="welcomeText">Welcome</p>

<p class="sub-text" id="loginText">
To access account and <br> manage orders
</p>

<a href="profile.html" class="login-btn" id="loginBtn">
LOGIN / SIGNUP
</a>

</div>

<a onclick="goPage('orders')">Orders</a>
<a onclick="goPage('wishlist')">Wishlist</a>
<a onclick="goPage('cart')">Cart</a>
<a onclick="goPage('products')">Products</a>
<a onclick="goPage('contact')">Contact Us</a>

<a href="#" id="logoutBtn" style="display:none;color:red;">Logout</a>

</div>
</div>

<div class="nav-icon" onclick="openSearch()">
<i class="fa-solid fa-magnifying-glass"></i>
</div>

<div class="nav-icon" onclick="openMenu()">
<i class="fa-solid fa-bars"></i>
</div>

</div>

</header>
<!-- CART DRAWER -->
<div id="cartDrawer" class="cart-drawer">

<div class="cart-header">
<h3>Your Bag</h3>
<i class="fa-solid fa-xmark" onclick="closeCart()"></i>
</div>

<div id="drawerItems" class="drawer-items"></div>

<div class="drawer-footer">

<p id="drawerTotal"></p>

<button onclick="goToCart()">View Cart</button>

<button onclick="goCheckout()">Checkout</button>

</div>

</div>
